<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/app.js"></script>
    <title>Dojodachi</title>
</head>
<body>

    <div class="container">
        <h1>Dojodachi!</h1>
        
        <div class="info-header">
            <div class="feature">Fullness: <span class="fullness">@ViewBag.dachi.fullness</span></div> 
            <div class="feature">Happiness: <span class="happiness">@ViewBag.dachi.happiness</span></div> 
            <div class="feature">Meals: <span class="meals">@ViewBag.dachi.meals</span></div> 
            <div class="feature">Energy: <span class="energy">@ViewBag.dachi.energy</span></div> 
        </div>
        <div class="info-content">
            <img src="~/images/ironcat.png" alt="">
            <div class="s"><span class="reaction"></span></div>
        </div>

        <div class="footer">
            <form action="/restart" method="post">
                <button type="submit" name="feed" id="feed">Feed</button>
                <button type="submit" name="play" id="play">Play</button>
                <button type="submit" name="work" id="work">Work</button>
                <button type="submit" name="sleep" id="sleep">Sleep</button>
                <button type="submit" name="restart" id="restart" class="restart-btn">Restart?</button>
            </form>
        </div>
    </div>
</body>
</html>