<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojodachi</title>
</head>
<body>

    <div class="container">
        <h1>Dojodachi!</h1>
        <div class="info-header">
            <div class="feature">Fullness: <span class="fullness">70</span></div> 
            <div class="feature">Happiness: <span class="happines">45</span></div> 
            <div class="feature">Meals: <span class="meals">3</span></div> 
            <div class="feature">Energy: <span class="energy">90</span></div> 
        </div>
        <div class="info-content">
            <img src="~/images/ironcat.png" alt="">
        </div>

        <div class="footer">
            <form action="/" method="post">
                <button type="submit">Feed</button>
                <button type="submit">Play</button>
                <button type="submit">Work</button>
                <button type="submit">Sleep</button>
            </form>
        </div>
    </div>
</body>
</html>