body {
    /* background-color: #adadad; */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info-header {
    margin: 0 auto;

}
.feature {
    display: inline-block;
    padding: 0 20px;
}

.info-content {
    margin: 10px auto;
}
.info-content img {
    width: 400px;
    height: auto;
}

.footer button {
    padding: 5px 20px;
    margin: 0 20px;
}

.restart-btn {
    display: none;
}